.navbar {
  background: #1a9a8f;
  font-family: "Prata", serif;
}

.fa-facebook-f {
  transition: 500ms;
  color: white;
  padding: 10px;
  border: 1px solid white;
}

.fa-facebook-f:hover {
  transform: scale(1.1);
}

#contactheading {
  font-family: "Prata", serif;
}

.btn {
  background: #1a9a8f;
}
